@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);



/*************************
*******Typography******
**************************/


body 
{
  font-family: 'Dosis', Ebrima;
  font-size: 17px;
  color: #fff
}



.btn {
  border-radius: 0;
  font-family: 'Yanone Kaffeesatz','Embrima';
  font-size: 20px;
  padding: 9px 23px;
}


a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}


a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', 'Embrima';
  font-weight: 300;
  text-transform: uppercase;
}


h2 {
  font-size: 36px
}


.navbar-toggle {
  margin-top: 12px
}


.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle, 

.navbar-toggle:focus {
  border:1px solid #fff;
  outline: none;
}



/*************************
*******Header CSS******
**************************/


.header-top {
  display: block;
  overflow: hidden;
  padding: 25px;
}


.main-nav {
  position: absolute;
  width: 100%;
  z-index: 999;
}


.main-nav 
.container {
  width: 100%
}


.social-icons a {
  font-size: 18px;
  color: #fff;
  padding-left:20px;  
}


.social-icons .fa-facebook:hover {
  color: #3B5997
}


.social-icons .fa-twitter:hover {
  color:#29C5F6
}


.social-icons .fa-google-plus:hover {
  color:#D13D2F
}


.social-icons .fa-youtube:hover{
  color: #ec5538
}


.navbar-brand {
  background-color: #2d2c2d; height: 90px;
  margin-bottom: 20px;
  position: relative;
  width: 297px;
}


.navbar-brand img {
  position: absolute;
  top: -98px;
}


.navbar-right {
  background-color: #2d2c2d;
 padding:0 95px 0 0;
  opacity: .9
}


.navbar-right li a {
  padding: 35px 21px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', 'Dosis';
  font-weight: 300;
}


.navbar-right li a:hover, 
.navbar-right li a:focus,  
.navbar-right .active a {
  background-color: #fff;
  color: #f7ab24
}



.fixed-menu {
  background-color: #2d2c2d;
 position: fixed;
  top: 0;
}


.fixed-menu .navbar-right {
  padding: 0;
}



.fixed-menu .navbar-right li a {
  font-size: 18px;
  padding: 40px 25px;
  text-shadow:inherit;
}


.fixed-menu .navbar-brand {
  height: 100px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 125px;
}


.fixed-menu .navbar-brand img {
  height:100px;
  top: 0;
}


.fixed-menu .header-top {
  display: none;
}




/*************************
*******Home CSS******
**************************/


#home {
  position: relative;
  overflow: hidden;
}


#main-slider img {
  width: 100%
}


#main-slider 
.carousel-caption {
  background: none repeat scroll 0 0 #000000;
  bottom: 14%;
  float: left;
  left: 0;
  opacity: 0.8;
  padding:10px 60px 35px;
  right: inherit;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}



#main-slider 
.carousel-caption h2 {  
  font-size: 38px;
 
}


#main-slider 
.carousel-caption h4 {
  font-size: 24px;
}


#main-slider 
.carousel-caption a {
  font-size: 22px;
  color: #2da1c5
}


#main-slider 
.carousel-caption a:hover {
  color: #2588a6
}


#main-slider 
.carousel-caption a:hover i {
  margin-left: 35px
}


#main-slider 
.carousel-caption a i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


#main-slider 
.carousel-indicators li {
  background-color:#1B7B98;
  border: 1px solid #1B7B98;
}


#main-slider 
.carousel-indicators li.active {
  background-color:#fff;
  border: 1px solid #fff;
}


/*************************
*******About CSS**********
**************************/


#about {
  background-color: #75B46E;  
  position: relative;  
  width: 100%;
  display: flex;
}



.about-content2bob { width: 50%; background-image: url("../images/Events2/bob3.png"); background-position: left center; background-repeat: no-repeat; background-size: cover; padding: 70px 70px 110px;}
.about-content2bob img {
 padding-top: 5%;
}
.about-content2bob p {
 color:#fff; font-size: 17px;
  font-family: 'Dosis',Ebrima;
}
.about-content2 { width: 50%; background-image: url("../images/about-bg2.png"); background-position: right bottom; background-repeat: no-repeat; background-size: cover; padding: 70px 70px 110px;}
.about-content2 p {
 color:#fff;
 margin-top: -60px;}
.about-content {
  width: 50%;
   background-image: url("../images/about-bg.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 70px 110px;
}



#about h2 {
  margin-bottom: 23px;
}


.about-content p {
 color:#fff; font-size: 17px;
  font-family: 'Lithos Pro',ebrima;
}


 /*************************
*******Event CSS******
**************************/

#event {
  background-color: #33888F;
  background-position: 50% 0;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}


.guitar {
  position: absolute;
  right:0;
  top: 0
}



#event h2 {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 70px;
  text-transform: uppercase;
}


.single-event {
  margin-bottom: 70px;
}


.single-event h4 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  text-transform: uppercase;
}



.single-event h5 {
  font-size: 18px;
  font-weight: 100;
  display: block;
}


#event-carousel {
  position: relative;
}


.even-control-left, 
.even-control-right {
  position: absolute;
  font-size: 24px;
  color: #fff;
  top: 0;
}


.even-control-left {
  right: 3%
} 

.even-control-right {
  right: 0;
}




/*************************
******Sponsor CSS****
**************************/


#sponsor {
  background-color: #1881a2;
  background-image: url("../images/New folder/468236098(3).jpg");
  background-position:50% 0;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
}


.light {
  position: absolute;
  right: 0;
  bottom: 0; width: 25%; height: auto
}


#sponsor .col-sm-10 {
  z-index: 10;
}


#sponsor h2 {
  margin-top: 90px;
  margin-bottom: 40px;
}


#sponsor .item ul {
  font-size: 0;
  padding: 0;
}



#sponsor .item ul li {
  display: inline-block;
  list-style: none;
  width: 33.33%;
  margin-bottom: 75px;
}


#sponsor .item ul li:last-child {
  margin-right: 0
}


.sponsor-control-left, 
.sponsor-control-right {
  color: #FFFFFF;
  font-size: 24px;
  position: absolute;
  top: 20%;
}


.sponsor-control-left {
  right: 12%
}

.sponsor-control-right {
  right: 10%
}



/*************************
******Locate CSS****
**************************/

#map {
  position: relative;
}


#gmap {
  height:450px;  
}



/*************************
******Contact CSS****
**************************/


.contact-section {
  background-color: #f7ab24;
  background-image: url("../images/New folder/81453.jpg");
  background-position:50% 0;
  background-size:fill;
  background-repeat:no-repeat;  
  position: relative;
}


.ear-piece {
  position: absolute;
  left: 0;
  top: 0;
}


#contact .container {
  padding-top:47px;
}


#contact h3 {
  text-transform:inherit;
  color: #fff; 
}


#contact-section h3 {  
  margin-bottom: 25px
}


#contact address {
  font-size: 18px;  
  color: #fff; 
}


.contact-text {
  margin-bottom: 35px;
  display: block;
}



#contact-section .form-control {
  border-color: #ae750d;
  box-shadow:none;
  outline: 0 none;
  border-radius: 0;
  color: #000000;
  font-size: 18px;
}


#contact-section .form-control:focus {
  border-color: #ae750d;
}


#contact-section input {  
  height: 44px;
}


#contact-section textarea {
  height: 90px;
  resize:none;
}


#contact-section .btn-primary {
  background-color: #373737;
  color: #f7ab24;
  border: none;
  font-size: 24px;
  padding: 6px 42px;
  margin-bottom: 110px;
  margin-top: 10px
}


#contact-section .btn-primary:hover {
  background-color: #212020;
  color: #fff
}




/*************************
******Footer CSS****
**************************/


#footer {
  background-color: #1d1c1d;
 background-image: url("../images/New folder/footer-collection.png"); background-size=cover; background-repeat: no-repeat;
  color: #FFFFFF;
  font-size: 20px;
  padding: 35px 0;
}


#footer a {
  color:#f7ab24
}

#footer a:hover {
  color:#ff4659
}